*{
    box-sizing: border-box;
}

/* # is for id . is for class*/
#container{
    padding: 0px;
    margin: 0px;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header{
    background-color: #120323;
    color: #97bf04;
}

figure img{
    background-color: #d9043d;
    padding: 5px;
}

aside{
    background-color: #97bf04;
    padding: 5px;
    padding-left: 10px;
}

footer{
    background-color: #d9043d;
    color: white;
    text-align: center;
    padding: 20px;
}

/* mobile*/
@media screen and (max-width: 767px) {
   figure img{
    max-width: 100%;
   }

   .header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

   }

   aside{
    margin-bottom: 10px;
   }

   }

/* devices > 1000px*/
@media (min-width: 768px) and (max-width: 1000px) {
    figure img{
        height: 100%;
        max-width: 300px;

    }

    figure{
        display: flex;
        flex-direction: row;
        
    }
    
    figcaption{
        padding-left: 15px;
    }

    .header-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
        
       }

    .header-container img{
        padding-right: 15px;
    }
    
    aside{
        margin-bottom: 10px;
       }
}

/* devices < 1000px*/
@media screen and (min-width: 1000px) {
    .header-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
    
       }

    .header-container img{
        padding-right: 15px;
    }

    #container{
        display: flex;
        justify-content: space-evenly;
       }

    main{
        padding: 10px;
    }

    figure{
        display: flex;
        flex-direction: row;
    }

    figcaption{
        padding-left: 15px;
    }

    figure img{
        height: 100%;
        max-width: 300px;
    }

    aside{
        margin: 10px;
    }
    
}